.image {
    width: 110px;
    height: auto;
    border-radius: 2rem;
}
.title {
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    margin-top: 1rem;
    font-weight: 500;
    sup {
        margin-left: 6px;
    }
}
@media (min-width: 768px) {
    .image {
        width: 190px;
        height: auto;
    }

}